{% extends 'base.html.twig' %}

{% block title %}Cars{% endblock %}

{% block body %}
<div class="container mt-4 mb-4">
    <h1>Cars</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ car.id }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ car.Brand }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ car.model }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ car.color }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ car.price }}</td>
            </tr>
            <tr>
                <th>Sold</th>
                <td>{{ car.sold ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a class='btn btn-light' href="{{ path('cars_index') }}">Back</a>

</div>
{% endblock %}
